#welcom{
    color: whitesmoke;
    background-color: black;
}
#qw{
    background-color: rgb(12, 1, 1);
    color: whitesmoke;
}
#playstation{
    background-color: blue;
    color: white;
}
#xbox{
    background-color: green;
    color: black;
}
#nintendo{
    background-color: red;
    color: yellow;
}

